<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swap Meet</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Swap Meet</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/your-stuff">Your Stuff</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}


      </nav>

    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <h4 class="text-muted">Thanks for visiting!</h4>
      <p class="pt-4 text-muted">Copyright ©2021 | All rights reserved
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>