<article class="text-center">
  <a href="/your-stuff"> &larr; Back to Your Stuff</a>
  <h2>
    Edit Item
  </h2>
  <form class="d-flex justify-content-center" id="edit-item-form">
    <div class="d-flex flex-column">
      {{> item-info item}}
      <input name="item-title" type="text" value="{{item.title}}" />
      <input name="description" placeholder="edit-description" id="description"></input>

      <button type="submit" class="button btn-primary">Save item</button>
      <button type="button" class="button btn-primary" id="delete-item-btn">Delete item</button>

    </div>

  </form>
</article>

<script src="/javascript/edit-item.js"></script>
<script src="/javascript/delete-item.js"></script>