<section class="section" id="ITEMS">
  <div class="container-fluid text-center">
    <h1 class="section-title text-dark">Browse Items</h1>
  </div>

  <ul class="list-group list-group-horizontal-md">
    {{#each items as |item|}}
      <li style="list-style-type:none">
        {{> item-info item}}
        
      </li>
    {{/each}}
  </ul>

</section>