<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div class="card text-center">
    <div class="card-body">
      <h3 class="card-title">
        Sign Up
      </h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="email-signup"
          placeholder="Email"
          aria-label="Email"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="username-signup"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Password</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="password-signup"
          placeholder="Password"
          aria-label="Password"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">First Name</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="firstname-signup"
          placeholder="First Name(e.g. John)"
          aria-label="First Name"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Last Name</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="lastname-signup"
          placeholder="Last Name(e.g. Smith)"
          aria-label="Last Name"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Address</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="address-signup"
          placeholder="Address"
          aria-label="Address"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Phone Number</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="phone-signup"
          placeholder="Phone Number"
          aria-label="Address"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="row">
        <div class="col-4">
          <select name="month" id="birthMonth">
            <option value="month">Month</option>
            <option value="january">January</option>
            <option value="february">February</option>
            <option value="march">March</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="august">August</option>
            <option value="september">September</option>
            <option value="october">October</option>
            <option value="november">November</option>
            <option value="december">December</option>
          </select>
        </div>
        

      {{! <div class="card-footer">
        <a href="#" type="button" class="btn btn-primary">Sign Up</a>
        <p>Already registered? Login <a href="#">here</a>.</p>
      </div> }}
    </div>
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>