<form class="signup-form">
  <div class="container-fluid h-10 p-5">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title">
              Sign Up
            </h3>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="email-signup"
                placeholder="Email"
                aria-label="Email"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Username</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="username-signup"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="password-signup"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">First Name</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="firstname-signup"
                placeholder="First Name(e.g. John)"
                aria-label="First Name"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Last Name</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="lastname-signup"
                placeholder="Last Name(e.g. Smith)"
                aria-label="Last Name"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Address</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="address-signup"
                placeholder="Address"
                aria-label="Address"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Phone Number</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="phone-signup"
                placeholder="Phone Number"
                aria-label="Address"
                aria-describedby="basic-addon1"
              />
            </div>
            <br />
            <div class="card-footer">
              <a href="#" type="button" class="btn btn-primary">Sign Up</a>
              <p>Already registered? Login <a href="/login">here</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="/javascript/signup.js"></script>