<main>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col text-center">
        <section>
          <h2 class="section-title">Create a New Trade</h2>

          <form class="new-item-form">
            <div>
              <label for="item-title">Title</label>
              <input type="text" id="item-title" name="item-title" />
            </div>

            <div>
              <label for="item-description">Description</label>
              <input
                type="text"
                class="description"
                id="description"
                name="description"
              />
              {{! <textarea name="description" id="description"></textarea> }}
            </div>
            {{!-- <div class="form-floating">
              <label for="floatingTextarea2">Description</label>
              <textarea
                class="form-control"
                name="description"
                placeholder="Enter a description..."
                id="description"
              ></textarea>
            </div> --}}

            <div>
              <p><input
                  type="file"
                  accept="image/*"
                  name="image"
                  id="file"
                  onchange="loadFile(event)"
                  style="display: none;"
                /></p>
              <p><label
                  class="button btn-primary"
                  for="file"
                  style="cursor: pointer;"
                >Upload Image</label></p>
              <p><img id="output" width="200" /></p>
            </div>
            <button type="submit" class="button btn-primary">Create</button>
          </form>
        </section>
      </div>
    </div>
  </div>
  {{!-- <!-- Your List of Stuff -->
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col text-center">
        <h2 class="section-title">Your Stuff</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="item-image" />
          <div class="card-body">
            <h5 class="card-title">Item title</h5>
            <p class="card-text">Some quick example text to build on the card
              title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="item-image" />
          <div class="card-body">
            <h5 class="card-title">Item title</h5>
            <p class="card-text">Some quick example text to build on the card
              title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="item-image" />
          <div class="card-body">
            <h5 class="card-title">Item title</h5>
            <p class="card-text">Some quick example text to build on the card
              title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> --}}

{{#if items.length}}
<section>
  <h2>Your Stuff</h2>
  <ol>
    {{#each items as |item|}}
    <li>
      {{> item-info item}}
      <a href="/your-stuff/edit/{{item.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-item.js"></script>