@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --orbitron:'Orbitron', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --greengradient: linear-gradient(45deg, #C1F6ED, #02353C, #449342, #2EAF7D, #3FD0C9);
    --hologradient: linear-gradient(to right, #3A416F, #5D83C0, #10A3A2, #B0B3B1, #111311);
}

body {
    background: #92A8D1;
}

header {
    overflow-x: hidden;
    background: var(--greengradient);
}

header a {
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 4px;
    color: whitesmoke;
    font-family: var(--orbitron);
}

a:hover,
a:active,
a:focus {
    outline: none;
    border: none;
    text-decoration: none;
}

.col-md-4 .btn {
    margin: 10px;
    float: right;
    color: whitesmoke;
    background-color: #4578d8;
    border: none;
}

.col-md-4 .btn:hover {
    color: black;
}


.page-title,
.section-title {
    font-family: var(--orbitron);
    padding-top: .8em;
    padding-bottom: 0.8em;
}

/* NAVBAR START */

.navbar-toggler {
    margin-left: 35em;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

header .nav-item:last-child {
    padding-right: 2em;
}

header .nav-item {
    padding: 2.5em;
}

header .navbar-brand {
    padding: 2em;
}

header .nav-link:hover {
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 9999;
    transition: all 1.5s ease;
}

/* NAVBAR END */

.section-0 {
    margin-bottom: 5rem;
}

.section-0 .card {
    flex-direction: row;
    width: 100%;
    background: #DFCFBE;
}

.section-0 .card-img {
    width: 30%;
}

.section-1,
.section-2,
.section-3,
.section-4 {
    background-color: #8EE4AF;
}

/* CAROUSEL START */

/*
Removes white gap between slides - change to base color of slide images
*/
.carousel {
    background: var(--greengradient);
}

.carousel-control-next,
.carousel-control-prev {
    background-color: black;
    width: 1em;
}
/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
    width: 100%;
}

p .card-text {
    font-family: var(--roboto);
}

/* 
anchors are inline so you need to make them block to go full width
*/
.carousel-item a {
    display: block;
    width: 100%;
}

.border {
    width: 100%;
    ;
}

/* CAROUSEL END */

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 5vmin 10vmin;
}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i+i {
    padding: 0 0.5em;
}
